VITE_API_BASE_URL=http://127.0.0.1:3333
VITE_APP_LOGO_URL=https://i.imgur.com/zYnjY3u.png
VITE_APP_THEME_COLOR="#0a871f"
VITE_API_SLUG=loor
VITE_PWA_BRAND=loor
VITE_PWA_BRAND_NAME=LOOR
VITE_PWA_NAME="LOOR Empreendedor"
VITE_PWA_SHORT_NAME="LOOR Emp."
VITE_PWA_THEME_COLOR="#0A871F"
VITE_PWA_BACKGROUND_COLOR="#FFFFFF"
VITE_PWA_LOGO=/pwa/loor/logo.png
VITE_PWA_ICON_192=/pwa/loor/icon-192.png
VITE_PWA_ICON_512=/pwa/loor/icon-512.png
VITE_PWA_ICON_MASKABLE=/pwa/loor/icon-512-maskable.png
VITE_PWA_APPLE_TOUCH_ICON=/pwa/loor/apple-touch-icon.png
VITE_PWA_ID=/app
VITE_PWA_START_URL=/app
VITE_PWA_SCOPE=/
VITE_PWA_ANDROID_TUTORIAL_WEBM=
VITE_PWA_ANDROID_TUTORIAL_MP4=
VITE_PWA_ANDROID_TUTORIAL_POSTER=
VITE_PWA_APPLE_TUTORIAL_WEBM=
VITE_PWA_APPLE_TUTORIAL_MP4=
VITE_PWA_APPLE_TUTORIAL_POSTER=
